body {
	display: flex;
	background-color: #121214;
	align-items: center;
	justify-content: center;
    font-family: sans-serif;
}

.status {
	font-family: sans-serif;
	font-size: 18px;
	margin: 24px;
}

.gamespace {
	display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.row {
	display: flex;
	flex-direction: row;
    align-items: center;
}

.square {
	display: flex;
	width: 64px;
	height: 64px;
	justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    color: #d7dadc;
    border: 2px solid #3a3a3b;
    text-transform: uppercase;
    user-select: none;
    margin: 3px;
}

.correct {
	background-color: #538d4e;
}

.partially-correct {
	background-color: #b59f3b;
}

.incorrect {
	background-color: #3a3a3b;
}

.untested {
    background-color: #818384;
}

.specialKey {
    background-color: #616364;
}

.play-again {
	position: relative;
	bottom: -24px;
	width: 80px;
	height: 30px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 24px;
    align-items: center;
}

.key {
    width: 40px;
    height: 40px;
    color: #d7dadc;
    margin: 3px;
    border: none;
    border-radius: 4px
}

.stats {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 380px;
    background-color: #1a1a1b;
    border-radius: 8px;
    padding: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

h1 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
}

.stat-label {
    font-size: 12px;
    width: 64px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 24px;
}

.stat {
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 48px;
}

.graph {
    width: 340px;
}

.bar {
    min-width: 18px;
    height: 20px;
    margin: 2px 2px 2px 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
    font-size: 14px;
    font-weight: bold;
}

.icon-button {
    position: absolute;
    top: 12px;
    right: 12px;
    color: white;
    background-color: transparent;
    border: none;
    font-weight: bold
}

.modal-background {
    background-color: #00000055;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
}